
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(rgb(0, 249, 236), rgb(71, 150, 229));
  }
  header {
    background-color: #0089d9;
    padding: 5px;
    text-align: center;
    color: white;
  }
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 23px; 
  }
  h2, label {
    color: #007bff;
  }
  input, select {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    background: rgb(200, 250, 247);
    box-sizing: border-box;
    border-radius: 4px;
  }
  button {
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }
  button:hover {
    background-color: #218838;
  }
  #deleteButton {
    background-color: #dc3545;
    margin-right: 10px;
  }
  #deleteButton:hover {
    background-color: #c82333;
  }
  #savedData {
    margin-top: 20px;
  }
